




/*
     FILE ARCHIVED ON 2:09:12 Apr 17, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:46:22 Jul 22, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
body {
    background: #444B3D;
    color: #eee;
    font-size: 12px;
    line-height: 180%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    margin: 0;
    padding-top: 40px;
    border-top: 6px #45D55C solid;
}

h1, h2, h3, h4 {
    color: #d2d8ba;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 2em;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    text-transform: uppercase;
}
h1 {
    font-family: Georgia, FreeSerif, Times, serif;
    font-size: 30px;
    line-height: 36px;
    text-transform: none;
    color: #669900;
    font-weight: normal;
    margin: 15px 0 11px;
}

h2 {
    font-size: 12px;
    font-weight: normal;
}

h1 code, h2 code, h3 code, h4 code,
h1 a, h2 a, h3 a, h4 a
{
  color: inherit;
  font-size: inherit;
}

#logo {
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #E3E3E3;
    font-size: 40pt;
    font-weight: bold;
    text-shadow: 0px 2px 3px #666;
    margin-bottom: 21px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

#intro {
    width: 775px;
    margin: 0 auto;
    text-align: center;
    color: #d2d8ba;
}

#intro p {
    width: 680px;
    line-height: 180%;
    padding-top: 20px;
    margin: 0 auto 30px auto;
    font-size: 14px;
}

#intro.interior #logo {
    margin-left: -298px;
}

#intro p.version {
    padding-top: 10px;
    font-size: 12px;
}

#intro .button {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 1px;
    color: #46483e;
    background-color: #9a9f8b;
}

#intro .button:hover {
  text-decoration: none;
  background-color: #aab293;
}

#intro #downloadbutton {
  background-color: #45D55C;
}

#intro #downloadbutton:hover {
}

#quotes ul {
    display: block;
    width: 775px;
    margin: 0 auto;
    padding-top: 0;
}

#quotes ul li {
    display: block;
    text-align: left;
    width: 180px;
    float: left;
    padding-right: 15px;
    font-size: 11px;
}

#quotes ul li a {
    color: #D2D8BA;
}

#quotes ul li:last-child {
    padding-right: 0;
}

#quotes ul li p span {
    font-size: 10px;
}

#quotes ul li p {
  color: #D2D8BA
}

#quotes {
    text-align: center;
    width: 100%;
    background-color: #33342d;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#quotes h2 {
    margin-top: 0;
}

#content {
    width: 775px;
    margin: 0 auto;
    overflow: visible;
    clear: both;
    display: block;
}

#content p {
    font-size: 14px;
    line-height:24px;
}

div#download {
    position: absolute;
    width: 580px;
    text-align: center;
    top: 0;
    left: 50%;
    margin-left: -290px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 40px;
  -webkit-box-shadow: 0 0 32px #000;
     -moz-box-shadow: 0 0 32px #000;
          box-shadow: 0 0 32px #000;
    background:white;
    display: none;
}

div#download:target {
    display: block;
}

#download-close {
    background: url(/web/20160417020912/http://nodejs.org/images/close-downloads.png) no-repeat top right;
    width: 64px;
    height: 64px;
    position: absolute;
    display: block;
    top:0;
    right:0;
    text-indent:-999em;
}

div#download ul#installers {
    width: 550px;
    text-align: center;
    margin: 0 auto;
    background: url(/web/20160417020912/http://nodejs.org/images/platform-icons.png) no-repeat top center;
    padding-top: 65px;
    padding-bottom: 50px;
}

div#download ul#installers li {
    list-style-type: none;
    width: 165px;
    padding-left: 18px;
    float: left;
    display: block;
    color: #33342d;
    font-size: 10px;
}

div#download ul#installers li#source {
    padding-left: 0;
}

div#download ul#installers li a {
    font-size: 16px;
    padding-top: 50px;
    margin-top: -50px;
}

div#download ul#documentation {
    background-color: #d4d7c3;
    padding: 20px 0 20px 40px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

div#download ul#documentation li {
    margin-left: 40px;
    text-align: left;
    color: #33342d;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}

div#download ul#documentation li a {
    color: #76a83f;
}

#download-logo {
    margin-bottom: 37px;
}

  pre, tt, code {
      color: #d2d8ba;
    font-size: 14px;
    line-height: 22px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    margin: 0; padding: 0;
  }
  #front pre, #front tt, #front code {
    font-size:12px;
    line-height:22px;
  }

pre {
    padding-left: 1em;
    margin-left: -1em;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #626557;
}

.alt pre {
    font-size: 14px;
    margin-left: 0;
    border-left: 2px solid #dadad7;
    background-color: #f4f4f2;
    color: #46483e;
    padding: 1em 1.5em;
    line-height: 2em;
}

.alt code {
    color: #996633;
}

dd {
  margin: 1em 0;
  margin-left: 1em;
}


a {
    color: #45D55C;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

.alt a {
    background-color: #eff2db;
    padding: 0 2px;
}

.alt #intro a, .alt #footer a {
    background-color: transparent;
}

.highlight {
  background: #733;
  padding: 0.2em 0;
}
.desktops {
    font-size: 12px;
}

.release {
  margin: 0 0 0 2em;
}

/* simpler clearfix */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#intro .video-links {
    margin-top: 40px;
}

#intro .video-links a.button {
    background-color: #46D2D8;
}

#intro .video-links a.button:hover {
    background-color: #66D5DA;
}

#content.blog {
    width: inherit;
    padding: 0 100px;
}

body .blog, #content.blog p {
    font-size: 15px;
}

.blog ul.posts {
    padding-left: 0;
}

.blog ul.posts li {
    font-size: 20px;
    margin-top: 10px;
    list-style: none;
}

.blog h1 {
    color: #8c0;
}

.blog h2 {
    font-size: 14px;
}

.blog h3 {
    font-size: 12px;
    font-weight: normal;
}

.blog .body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

.blog .highlight {
    background: inherit;
}
