:root {
    --color-base: #333;
    --color-highlight: #8892bf;
    --color-highlight-dark: #4f5b93;
    --color-highlight-light: #c4c9df;
    --color-highlight-lighter: #e2e4ef;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    margin: 0;
}

a {
    color: var(--color-highlight);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px 0;
}

h1 {
    color:var(--color-highlight);
}

h2 {
    color: var(--color-base);
}

h3 {
    color:var(--color-highlight-dark);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);
}

img {
    max-width: 100%;
    height: auto !important;
}

details {
    text-align: left;
}

details summary {
    color: var(--color-highlight);
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);
    margin-bottom: 10px;
}

pre {
    text-align: left !important;
}

code {
    display: block;
    padding: 20px !important;
}

.wrapper {
    max-width: 600px;
    margin: auto;
}

.wrapper--wider {
    max-width: 1200px;
}

.hero {
    background: #f0f0f0;
    padding: 40px;
    text-align: center;
}

.hero2 {
    background: var(--color-base);
    padding: 40px;
    text-align: center;
    color: var(--color-highlight-lighter);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}

.hero2 h2 {
    color: var(--color-highlight-light);
}

.hero3 {
    background: #f9f9f9;
    padding: 40px;
    text-align: center;
    color: rgba(0, 0, 0, .85);
}

.hero4 {
    background: #fff;
    text-align: center;
    padding: 40px;
}

.footer {
    background: var(--color-base);
    padding: 40px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}

.footer a {
    color: rgba(255, 255, 255, .85);
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    color: rgba(255, 255, 255, 1);
}

.logo {
    display: block;
    margin: auto;
}

.logo-base {
    fill: var(--color-base);
}

.logo-highlight {
    fill: var(--color-highlight);
}

.name {
    font-family: "Raleway","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
    font-size: 42px;
    text-transform: uppercase;
    color: var(--color-highlight);
    margin: 0;
}

.name strong {
    color: var(--color-base);
}

.box {
    background-color: #f0f0f0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125);
    text-align: left;
    vertical-align: top;
    padding: 15px 20px 20px 20px;
    width: 100%;

    text-decoration: none;
    color: inherit;
    overflow: auto;
}

.box :first-child {
    margin-top: 0;
}

.box :last-child {
    margin-bottom: 0;
}

.box:hover {
    background-color: #e9e9e9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.gee-grid {
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.gee-grid .opera-only :-o-prefocus,
.gee-grid {
    word-spacing: -0.43em;
}
[class*="gee-unit"] {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    font-family: 'Lato', sans-serif;

    display: flex;
    flex-wrap: wrap;
}
.gee-unit-12 {
    width: 100%;
}
.gee-unit-11 {
    width: 91.66%;
}
.gee-unit-10 {
    width: 83.33%;
}
.gee-unit-9 {
    width: 75%;
}
.gee-unit-8 {
    width: 66.66%;
}
.gee-unit-7 {
    width: 58.33%;
}
.gee-unit-6 {
    width: 50%;
}
.gee-unit-5 {
    width: 41.66%;
}
.gee-unit-4 {
    width: 33.33%;
}
.gee-unit-3 {
    width: 25%;
}
.gee-unit-2 {
    width: 16.66%;
}
.gee-unit-1 {
    width: 8.33%;
}

.gee-gutter-grid {
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    width: 102%;
    margin-left: -2%;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.gee-gutter-grid .opera-only :-o-prefocus,
.gee-gutter-grid {
    word-spacing: -0.43em;
}
[class*="gee-gutter-unit"] {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    font-family: 'Lato', sans-serif;
    margin-left: 2%;

    display: flex;
    flex-wrap: wrap;
}
.gee-gutter-unit-12 {
    width: 98%;
}
.gee-gutter-unit-11 {
    width: 89.66%;
}
.gee-gutter-unit-10 {
    width: 81.33%;
}
.gee-gutter-unit-9 {
    width: 73%;
}
.gee-gutter-unit-8 {
    width: 64.66%;
}
.gee-gutter-unit-7 {
    width: 56.33%;
}
.gee-gutter-unit-6 {
    width: 48%;
}
.gee-gutter-unit-5 {
    width: 39.66%;
}
.gee-gutter-unit-4 {
    width: 31.33%;
}
.gee-gutter-unit-3 {
    width: 23%;
}
.gee-gutter-unit-2 {
    width: 14.66%;
}
.gee-gutter-unit-1 {
    width: 6.33%;
}

code,
pre {
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-size: .9em;
    background-color: #f8f8f8 !important;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}
pre {
    color: #525252;
}
pre .function .keyword,
pre .constant {
    color: #0092db;
}
pre .keyword,
pre .attribute {
    color: var(--color-highlight);
}
pre .number,
pre .literal {
    color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
    color: #2973b7;
}
pre .class .title {
    color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
    color: #42b983;
}
pre .title {
    color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
    color: #42b983;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
    color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
    opacity: 0.5;
}
